.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #c4c4c4;
  width: 100vw;
  min-height: 100vh;
  padding: 49px 39px;
}

.favourites {
  background-color: #c4c4c4;
  width: 100vw;
  height: 100vh;
  padding: 49px 39px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 16px;
  padding: 20px 0;
}

.joke {
  background-color: #ffffff;
  text-align: center;
  min-width: 268px;
  min-height: 49px;
  padding: 4px;
}

.joke__id {
  font-weight: bold;
}

.joke__icon img {
  width: 50px;
  height: 50px;
}

.joke__value {
  font-size: 16px;
}

.joke__link a {
  text-decoration: none;
}

.joke__link a:hover {
  text-decoration: underline;
}

.joke__add {
  min-width: 100px;
  width: 100px;
  min-height: 20px;
  height: 20px;
}

.button {
  cursor: pointer;
  min-width: 200px;
  width: 200px;
  min-height: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 16px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 14px 16px;
  }
}
